
	 <nav id="mySidenav" (click)="openNav()">
    <ul class="menu-list">
        <li class="menu-itm"><img class="menu-itm-icon" src="../../assets/images/menu.svg" alt="Menu"><span *ngIf = "hideMenuitems" class="link-txt">Menu</span></li>
        <li class="menu-itm"><img class="menu-itm-icon" src="../../assets/images/content-management.svg" alt="Content management"><span *ngIf = "hideMenuitems" class="link-txt">Content management</span><img *ngIf = "hideMenuitems" class="sub-menu-icon" src="../../assets/images/down-arrow.svg" alt="down-arrow"></li>
        <li class="menu-itm"><img class="menu-itm-icon" src="../../assets/images/courses.svg" alt="Courses"><span *ngIf = "hideMenuitems"  class="link-txt">Courses</span></li>
    </ul>
</nav>
<header class="global-header" id="glb-header" (click)="closeNav()">
    <a href="#" class="logo-wrp"><img src="../../assets/images/logo.svg" alt="logo"></a>
</header>
<main id="main" (click)="closeNav()">
    <header class="pg-header">
        <h1 class="pg-title">Books</h1>
        <button class="btn">Create New Book</button>
    </header>
    <section class="search-wrp">
        <div class="serach-field">
            <img src="../../assets/images/search.svg" alt="search">
            <input type="text" placeholder="Search">
        </div>
    </section>
    <section class="result">
        <h4 class="section-title">All Books</h4>
        <div class="result-hloder">
            <div class="book-card-itm" *ngFor="let book of allBooks.items; index as i" >
                <h4 class="card-title">{{ book.volumeInfo.title}}</h4>
                <div class="card-details">
                <span class="card-itm-label">Authors: <span class="value-txt">{{ book.volumeInfo.authors}}</span></span>
                <span class="card-itm-label">Publisher: <span class="value-txt">{{ book.volumeInfo.publisher}}</span></span>
                <span class="card-itm-label">Published Date: <span class="value-txt">{{  book.volumeInfo.publishedDate}}</span></span>
                </div>
            </div>
        
        </div>
    </section>
</main>
  
  

  
  


